body {
  font-family: "Roboto", sans-serif;
}
/* nav bar */

.nav-top {
  width: 100%;
  background-color: #fa190c;
  height: 60px;
  padding: 10px;
}
.main {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-right: 1px;
  width: 80px;
  height: 40px;
  background-color: #382b27;
}
.search-text {
  background-color: #bd1806;
  height: 40px;
  width: 25rem;
  outline: none;
  border-radius: 4px;
  border: none;
  color: white;
}
.search-bar img {
  margin-left: -33px;
}
.nav-lower {
  width: 100%;
  height: 32px;
  background-color: #bd1806;
}

/* section */

.bg-image {
  background-image: linear-gradient(rgb(217 218 234 / 12%), rgb(0 0 0 / 86%)),
    url("./images/B&W_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  background-color: rgba(47, 47, 48, 0.883);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description {
  color: white;
}
.text {
  font-weight: 350;
  font-size: xx-large;
}
.description {
  width: 50%;
}

.description p {
  text-align: justify;
  font-weight: 300;
}

.description-image img {
  height: 18rem;
}

/* grids */
.content-row {
  width: 100%;
  margin-top: -53px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content {
  margin-top: 10px;
  width: 300px;
  height: 165px;
  border: 14px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 45px 0;
  color: white;
  font-size: xx-large;
  font-weight: 200;
}
.content-1 {
  background-color: #35d3b4;
}
.content-2 {
  background-color: #1b2191;
}
.content-3 {
  background-color: #d822ee;
}

/* footer */
footer {
  margin-top: 40px;
  width: 100%;
  height: 200px;
  background-color: #38333d;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* mobile view */

@media only screen and (max-width: 401px) {
  body {
    max-width: 400px;
  }

  /*******************mobile screen nav-bar ********************** */
  .nav-bar {
    max-width: 400px;
  }
  .nav-top {
    width: 100%;
    background-color: #fa190c;
    height: 60px;
    padding: 10px;
  }
  .main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo {
    width: 40px;
    height: 40px;
    background-color: #382b27;
  }

  .search-bar img {
    margin-left: -36px;
  }
  .search-bar {
    position: relative;
    left: 58px;
  }
  .search-text {
    background-color: #bd1806;
    height: 40px;
    width: 11rem;
    outline: none;
    border-radius: 4px;
    border: none;
    color: white;
  }
  .nav-lower {
    width: 100%;
    height: 32px;
    background-color: #bd1806;
  }

  /* mobile screen section */
  .bg-image {
    background-image: linear-gradient(rgb(117 117 130 / 45%), rgb(0 0 0 / 48%)),
      url("./images/B&W_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-color: rgba(47, 47, 48, 0.883);
    position: absolute;
  }
  .description {
    color: white;
  }
  .description h1 {
    margin-top: 10px;
    font-weight: 400;
  }
  .text {
    font-weight: 350;
    font-size: x-large;
  }
  .description p {
    font-weight: 300;
  }
  .replaced-text {
    display: none;
  }
  .description-image {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .description-image img {
    height: 9rem;
  }

  /* grids */
  .content-row {
    margin-top: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    width: 80%;
    height: 3rem;
    border: none;
    box-shadow: none;
    padding: 0;
    border-radius: 10px;
  }
  .content-1 {
    background-color: #35d3b4;
  }
  .content-2 {
    background-color: #1b2191;
  }
  .content-3 {
    background-color: #d822ee;
  }

  /* footer */
  footer {
    margin-top: 40px;
    width: 100%;
    height: 20rem;
    background-color: #38333d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
